<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survelliance</title>
<style>
.float-container {
    border: 3px solid #fff;
    padding: 20px;
    height: 60%;
}

.float-child {
    margin: auto;
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}
table, th, td {
  border: 1px solid black;
}  
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body class="float-container">
  <!--
  <div class="split left">
    <div class="centered">
    <div id="map"></div>
    </div>
  </div>
  <div class="split right">
    <div class="centered">
      <iframe id="PlayVideo" width="727" height="409" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </div>
-->
    <div id="map" class="float-child"></div>
    <iframe id="PlayVideo" width="50%" height="100%" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="Datatable">
        <table align="center" width=100% class="w3-table-all w3-hoverable">
            <caption class="Heading">Survelliance Table</caption>
            <tr>
                <th>CamNo.</th><th>CamName</th><th>Latitude</th><th>Longitude</th><th>Src</th>
            </tr>
            {% for i in data %}

                <tr><td>{{i.CameraID}}</td><td>{{i.Camera_Name}}</td><td>{{i.Latitude}}</td><td>{{i.Longitude}}</td><td><button id="{{i.Camera_Name}}" onClick="play(this.id)" >play</a>
                </td> </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEpxxWJbin5SqgUtX6-cFrlB0ppvJzido&callback=initMap"
      defer
    ></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
        
      let map;
      var data = JSON.parse("{{dataJson|escapejs}}"); 
      
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: new google.maps.LatLng(17.5505,78.1656),
          mapTypeId: 'satellite'
        });
        const iconBase = 
          "http://maps.google.com/mapfiles/kml/shapes/";
        const icons = {
          camera: {
            icon: iconBase + "camera.png",
          },
        };
        
        const features = [];
        
        for (index = 0; index < data.length; index++) { 
            //console.log(data[index]);
            var tempobj= new Object()
            tempobj.position=new google.maps.LatLng(data[index].Latitude,data[index].Longitude)
            tempobj.type="camera"
            tempobj.content=data[index].Camera_Name
            features.push(tempobj)
        }
        markers=[];
        function addMarker(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            label:feature.content,
            map: map
          });
      // since not every feature has content, only add infoWindow when content exist
      
		  if(feature.content){
        
			  var marker_infoWindow = new google.maps.InfoWindow({
				content: feature.content
			  });

			  marker.addListener('click', function() {
          if (marker_infoWindow) {
            marker_infoWindow.close();
          }
				marker_infoWindow.open(map, marker);
        for (let index = 0; index < data.length; index++) {
              const element = data[index];
                  if(marker.label==data[index].Camera_Name){
                    console.log(data[index].Src);
                  document.getElementById('PlayVideo').src=data[index].Src;}
            }
			  });
		  }
          markers.push(marker)
        }
        for (var i = 0, feature; feature = features[i]; i++) {
          addMarker(feature);
        }
        function find_closest_marker( lat1, lon1 ) {    
            var pi = Math.PI;
            var R = 6371; //equatorial radius
            var distances = [];
            var closest = -1;

            for( i=0;i<markers.length; i++ ) {  
                var lat2 = markers[i].position.lat();
                var lon2 = markers[i].position.lng();

                var chLat = lat2-lat1;
                var chLon = lon2-lon1;

                var dLat = chLat*(pi/180);
                var dLon = chLon*(pi/180);

                var rLat1 = lat1*(pi/180);
                var rLat2 = lat2*(pi/180);

                var a = Math.sin(dLat/2) * Math.sin(dLat/2) + 
                            Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(rLat1) * Math.cos(rLat2); 
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
                var d = R * c;

                distances[i] = d;
                if ( closest == -1 || d < distances[closest] ) {
                    closest = i;
                }
            }

            // (debug) The closest marker is:
            //console.log(markers[closest]);
            return markers[closest]
        }
        let infoWindow = new google.maps.InfoWindow({
          content: "Click the map to get Neareast cam",
          position: new google.maps.LatLng(17.5505,78.1656),
        });
        infoWindow.open(map);
        map.addListener("click", (mapsMouseEvent) => {
          // Close the current InfoWindow.
          // Create a new InfoWindow.
          if (infoWindow) {
            infoWindow.close();
          }
          latlog=mapsMouseEvent.latLng.toJSON()
          markerData=find_closest_marker(latlog.lat,latlog.lng)
          console.log(markerData.label);
          for (let index = 0; index < data.length; index++) {
              const element = data[index];
              if (markerData.label==data[index].Camera_Name) {
                  console.log(data[index].Src);
              document.getElementById('PlayVideo').src=data[index].Src;
              }
              
          }
          infoWindow = new google.maps.InfoWindow({
            position: markerData.position,
          });
          infoWindow.setContent(
            JSON.stringify(markerData.label, null, 2)
          );
          infoWindow.open(map);
        });
        // map.setOnMarkerClickListener(new GoogleMap.OnMarkerClickListener() {
        //         @Override
        //         public boolean onMarkerClick(Marker marker) {
        //             int position = (int)(marker.getTag());
        //            //Using position get Value from arraylist 
        //             return false;
        //         }
        //     }); 
    
    }
    function play(clicked_id){
      console.log(clicked_id)
      for (let index = 0; index < data.length; index++) {
              const element = data[index];
              if (clicked_id==data[index].Camera_Name) {
                  console.log(data[index].Src);
              document.getElementById('PlayVideo').src=data[index].Src;
              }
              
          }
    }   
</script>
